/*页脚CSS*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  font-size: 14px;
  background-color: #2C3132;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}
/*页脚结束*/


.navbar-default{
  background-color: #29B6F6;
}

/*.navbar-default .navbar-text{*/
  /*color: white;!important;*/
/*}*/

.navbar-default .navbar-nav > li > a{
  color: white;
}

.navbar-header .navbar-brand > a {
  color: white; !important;
}

.navbar-collapse, .navbar-brand, .navbar-right{
  background-color: #29B6F6;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color: #0482BA !important;
  color: white;
}

/*设置鼠标悬浮时导航颜色*/
.navbar-nav > li:hover{
  background-color: #25A3DD;
}

.article{
  padding-left: 30px;
}

/*多行隐藏*/
.hidd {
  padding-bottom: 30px;
  position:relative;
  line-height:1.4em;
  /* 3 times the line-height to show 3 lines */
  height:14em;
  overflow:hidden;
}

.hidd::after {
  font-weight:bold;
  position:absolute;
  bottom:0;
  right:0;
  padding:0 20px 1px 45px;
}

.footer > .footer-style{
  background-color: #2C3132;
}

.text-muted > a{
  font-size: 12px;
  text-decoration: none;
}

.copyright, .footer-link {
  margin-right: 18px;
}

.return-top{
  position: fixed;
  right: 40px;
  bottom: 30px;
  z-index: 65656565656;
}