<div class="row">
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><p>选择功能</p></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="{{ url_for("main.write_article") }}">写篇文章</a></li>
    <li><a href="#">编辑文章</a></li>
    <li><a href="#">查看已注册用户</a></li>
  </ul>
  <ul class="nav nav-sidebar"></ul><ul class="nav nav-sidebar"></ul>
  <ul class="nav nav-sidebar">
    <li><a href="{{ url_for("main.index") }}"><b><span class="text-danger">返回主页</span></b></a></li>
  </ul>
</div>
</div>


