<div class="blog-header">
  <h1 class="blog-title">CoderGrowing</h1>
  <p class="lead blog-description">随笔随心</p>
  <hr>
</div>

<div class="row">
  <div class="col-sm-9 blog-main">
    <div class="blog-post">
      <div class="article">
        {% for post in posts %}
          <div class="article-border">
          <a href="{{ url_for('main.article', id=post.id, name=post.heading) }}" class="blog-post-title title-link-style">{{ post.heading }}</a><br>
          <span class="blog-post-meta">分类: <a href="{{ url_for('main.article_type', type=post.article_type) }}">{{ post.article_type }}</a></span>
          <span class="blog-post-meta"> | 时间:{{ post.timestamp[0:16]}}</span>
          <span class="blog-post-meta"> | 字数: {{ post.article_len }}</span><br>
          <div class="article-body">
          {% if post.article_len > 400 %}
            <div class="hidd">
              {{ post.body_html | safe}}
            </div>
            <div>
              <span>......</span><br><br>
              <a href="{{ url_for('.article', id=post.id, name=post.heading) }}" class="btn btn-sm btn-info">阅读全文</a>
            </div>
          {% else %}
            <div>
              {{ post.body_html | safe}}
              <br>
              <a href="{{ url_for('.article', id=post.id, name=post.heading) }}#comment" class="btn btn-sm btn-info">评论文章</a>
            </div>
          {% endif %}
          </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>{#  div blog-main#}

  <div class="col-sm-3">
    <div class="list-group">
      <p class="list-group-item active">
        最近文章
      </p>
       {% for post in limit_posts %}
         <a href="{{ url_for('.article', id=post.id, name=post.heading) }}" class="list-group-item title-link-style">{{ post.heading }}</a>
       {% endfor %}
    </div>
  </div><!-- /.col-sm-3 -->
</div>