

  <div class="blog-header">
    <h1 class="blog-title">CoderGrowing</h1>
    <p class="lead blog-description">随笔随心</p>
    <hr>
  </div>

  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        <div class="article">
          {% for post in posts %}
            <a href="{{ url_for('.article', id=post.id) }}" class="blog-post-title title-link-style">{{ post.heading }}</a>
            <p class="blog-post-meta">时间{{ post.timestamp}}</p>
            <div class="article-body">
              {% if post.body_html %}
                {{ post.preview | safe}}
                {% if post.body_html == post.preview %}
                  <a href="{{ url_for('.article', id=post.id) }}" class="btn btn-sm btn-info">评论文章</a>
                  <hr>
                {% else %}
                  <span>……</span>
                  <br><br>
                 <a href="{{ url_for('.article', id=post.id) }}" class="btn btn-sm btn-info">阅读全文</a>
                  <hr>
                {% endif %}

              {% else %}
                {{ post.body }}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>{#  div blog-main#}

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>最近文章</h4>
        {% for post in limit_posts %}
          <a href="{{ url_for('.article', id=post.id) }}" class="title-link-style">{{ post.heading }}</a><br><br>
        {% endfor %}
      </div>
    </div>
  </div>{#div row#}
 {#div container#}