<div class="blog-header">
  <span><span class="font1" style="color: #FEE339; font-size: 40px;" >C</span><span class="font2" style="color:#3DF6EB; font-size: 32px" >o</span><span class="font3" style=" color:#D32F58; font-size: 32px" >d</span><span class="font4" style="font-size: 32px; color:#CC00A6" >e</span><span class="font5" style="font-size: 32px;  color:#D90598" >r</span><span class="font6" style="font-size: 40px;  color:#66ED53" >G</span><span class="font7" style="font-size: 32px;  color:#93F590" >r</span><span class="font8" style="font-size: 32px;  color:#8836B7" >o</span><span class="font9" style="font-size: 32px;  color:#8A5BD4" >w</span><span class="font10" style="font-size: 32px;  color:#656B94" >i</span><span class="font11" style="font-size: 32px;  color:#BC9448" >n</span><span class="" style="font-size: 32px;  color:#3A004B" >g</span></span>
  <p class="lead blog-description">总有时候，想写点什么</p>
  <hr>
</div>

<div class="row">
  <div class="col-sm-9 blog-main">
    <div class="blog-post">
      <div class="article">
        {% for post in posts %}
          <div class="article-border">
          <a href="{{ url_for('main.article', id=post.id, name=post.heading) }}" class="blog-post-title title-link-style">{{ post.heading }}</a><br>
          <span class="blog-post-meta">分类: <a href="{{ url_for('main.article_type', type=post.article_type) }}">{{ post.article_type }}</a></span>
          <span class="blog-post-meta"> | 时间:{{ post.timestamp[0:16]}}</span>
          <span class="blog-post-meta"> | 字数: {{ post.article_len }}</span><br>
          <div class="article-body">
          {% if post.article_len > 400 %}
            <div class="hidd">
              {{ post.body_html | safe}}
            </div>
            <div>
              <span>......</span><br><br>
              <a href="{{ url_for('.article', id=post.id, name=post.heading) }}" class="btn btn-sm btn-info">阅读全文</a>
            </div>
          {% else %}
            <div>
              {{ post.body_html | safe}}
              <br>
              <a href="{{ url_for('.article', id=post.id, name=post.heading) }}#comment" class="btn btn-sm btn-info">评论文章</a>
            </div>
          {% endif %}
          </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>{#  div blog-main#}

  <div class="col-sm-3 tagcloud-father">
    <div class="list-group">
      <p class="list-group-item active">
        最近文章
      </p>
       {% for post in limit_posts %}
         <a href="{{ url_for('.article', id=post.id, name=post.heading) }}" class="list-group-item title-link-style">{{ post.heading }}</a>
       {% endfor %}
    </div>
    <p class="list-group-item active tag-header">标签</p>
    <div id="tagcloud" class="tagcloud">
	  </div>

  </div><!-- /.col-sm-3 -->
</div>