{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static", filename="blog.css")}}">
{% endblock %}

{% block title %} 文章 {% endblock %}

{% block page_content %}
  <div class="blog-header">
    <h1 class="blog-title">CoderGrowing</h1>
    <p class="lead blog-description">随笔随心</p>
    <hr>
  </div>
    <div class="col-sm-8 blog-main">
    <div class="blog-post">
    {#标题#}
    <div>
        {% for post in posts %}
            <a href="{{ url_for('.article', id=post.id, name=post.heading) }}" class="blog-post-title title-link-style">{{ post.heading }}</a>
            <p class="blog-post-meta">时间:{{ post.timestamp}}</p>
            {% if post.body_html %}
                {{ post.body_html | safe }}
            {% else %}
                {{ post.body }}
            {% endif %}

    </div>
    </div>
    </div>
    <div class="col-sm-4">
      <div class="list-group">
        <p class="list-group-item active">
          最近文章
        </p>
         {% for po in limit_posts %}
           <a href="{{ url_for('.article', id=po.id, name=po.heading) }}" class="list-group-item title-link-style">{{ po.heading }}</a>
         {% endfor %}
      </div>
    </div>

    <div>
        {{ wtf.quick_form(form) }}
    </div>
     <a href="{{ url_for('.article', id=post.id, name=post.heading) }}#comments">
    <span class="label label-primary">
        {{ post.comments.count() }} 评论
    </span>
    </a>
    <ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <div class="comment-content">
            <div class="comment-body">
                    {{ comment.body }}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endfor %}

{% endblock %}