{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static", filename="flat-ui.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin-nav.css') }}">
{% endblock %}

{% block page_content %}
    <div class="container-fluid">
    {% include "_admin-nav.html" %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="sub-header">文章列表</h2>
      <h4>点击文章名称修改文章</h4>
       <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>文章名称</th>
                <th>创建时间</th>
                <th>上次修改时间</th>
              </tr>
            </thead>
            <tbody>
              {% for post in posts %}
                <tr>
                  <td>
                    <a href="{{ url_for('main.edit_article', id=post.id) }}">{{ post.heading }}</a>
                  </td>
                  <td>{{ post.timestamp }}</td>
                  <td>{{ post.edit_timestamp }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    </div>

{% endblock %}

{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}