{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static", filename="blog.css")}}">
{% endblock %}

{% block title %} 文章 {% endblock %}

{% block page_content %}
    <div class="col-sm-8 blog-main">
    <div class="blog-post">
    {#标题#}
    <div>
        {% for post in posts %}
            <a href="{{ url_for('.article', id=post.id) }}" class="blog-post-title title-link-style">{{ post.heading }}</a>
            <p class="blog-post-meta">时间:{{ post.timestamp}}</p>
            {% if post.body_html %}
                {{ post.body_html | safe }}
            {% else %}
                {{ post.body }}
            {% endif %}

    </div>
    </div>
    </div>

    <div>
        {{ wtf.quick_form(form) }}
    </div>
     <a href="{{ url_for('.article', id=post.id) }}#comments">
    <span class="label label-primary">
        {{ post.comments.count() }} 评论
    </span>
    </a>
    <ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <div class="comment-content">
            <div class="comment-body">
                    {{ comment.body }}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endfor %}

{% endblock %}