{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for("static", filename="flat-ui.min.css") }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='admin-nav.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='simplemde.min.css') }}">
  <script src="{{ url_for('static', filename="simplemde.min.js") }}"></script>
{% endblock %}

{% block page_content %}
    <div class="container-fluid">
    {% include "_admin-nav.html" %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3 class="text-center">{{ post.heading }}</h3>
        <form method="POST" action="{{ url_for('main.edit_article', id=post.id) }}">
        <input type="text" name="heading" class="form-control" placeholder="标题" required="required" value="{{ post.heading }}">
        <textarea id="clear" name="article" placeholder="正文" class="form-control">{{ post.body }}</textarea>
        <div class="radio">
            <label>
              <input type="radio" name="permission" value="common">
              公开
            </label>
            <label>
              <input type="radio" name="permission" value="private">
              仅自己可见
            </label>
          </div><br>

        <input type="submit" class="btn btn-lg-4 btn-primary" value="提交"  onclick="wordCount()">
        <input type="hidden" id="word-count" name="word-count">
          <input type="hidden" id="get-permission" value={{ post.permission }}>
        </form>
    </div>
    </div>

  <script>
  var simplemde = new SimpleMDE({
    spellChecker:false
    });

  var a = document.getElementsByName("permission");

  for(var i = 0; i <= a.length; i++){
    if (a[i].value == document.getElementById("get-permission").value){
      a[i].checked = "checked";
    }
  }
  function wordCount() {
      document.getElementById('word-count').value = document.getElementsByClassName("words")[0].innerHTML
  }
  </script>

{% endblock %}

{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}