{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}CoderGrowinging{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
<ul>
{% for post in posts %}
<li>
    <a href="{{ url_for('.article', id=post.id) }}" style="text-decoration: none"><h3 style="display: inline">{{ post.heading }}</h3></a>
    <div class="post-body">
    <div class="post-date" style="float: right;">{{ post.timestamp}}</div>
    {% if post.body_html %}
        {{ post.body_html | safe }}
    {% else %}
        {{ post.body }}
    {% endif %}
    </div>
</li>
{% endfor %}
</ul>
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}
