{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}CoderGrowinging{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for("static", filename="blog.css") }}">
{% endblock %}

{% block page_content %}
  {{ super() }}
  {% include "_article.html" %}

  {% if pagination %}
    <div class="pagination">
      {{ macros.pagination_widget(pagination, '.index') }}
    </div>
  {% endif %}
{% endblock %}
