{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for("static", filename="flat-ui.min.css") }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='admin-nav.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='simplemde.min.css') }}">
{% endblock %}

{% block navbar %}{% endblock %}
{% block page_content %}
    <div class="container-fluid">
    {% include "_admin-nav.html" %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h4>写点什么呢？</h4>
      <hr>
        <form method="POST" action="{{ url_for('main.write_article') }}" class="form-horizontal">
          <div class="row">
            <div class="form-group">
              <div class="col-sm-6">
                <input type="text" name="heading" class="form-control" placeholder="标题" required="required">
              </div>
              <div class="col-sm-2">
                <label class="control-label">请选择文章分类：</label>
              </div>
              <div class="col-sm-4">
                <select name="article_type" class="form-control form-inline" >
                  <option value ="笔记">笔记</option>
                  <option value="书影">书影</option>
                  <option value="扯淡">扯淡</option>
                </select>
              </div>
            </div>
          <textarea id="clear" name="article" placeholder="正文" class="form-control"></textarea>

          <div class="radio">
            <label>
              <input type="radio" name="permission" value="common" checked>
              公开
            </label>
            <label>
              <input type="radio" name="permission" value="private">
              仅自己可见
            </label>
          </div>
          <br>
          <div class="tagsinput-primary">
            <input name="tag" class="tagsinput" data-role="tagsinput" placeholder="为文章加上标签吧">
          </div>

          <input type="submit" class="btn btn-lg-4 btn-primary" value="提交"
             onclick="wordCount()">
          <input type="hidden" id="word-count" name="word-count">
          <input type="hidden" id="tag-name" name="tag-name">
        </form>
    </div>
    </div>
  <script src="{{ url_for('static', filename="simplemde.min.js") }}"></script>
  <script>
  var simplemde = new SimpleMDE({spellChecker:false, autosave: {
        enabled: true,
        uniqueId: "MyUniqueID",
        delay: 100
    }});
  function wordCount() {
    document.getElementById('word-count').value = document.getElementsByClassName("words")[0].innerHTML;

    var tag = document.getElementsByClassName('label-info');
    for(var i = 0; i <= tag.length; i++){
      document.getElementById('tag-name').value += (tag[i].innerText + ',')
    }

  }
  </script>

  <script src="{{ url_for("static", filename="jquery.min.js") }}"></script>
  <script src="{{ url_for("static", filename="flat-ui.min.js") }}"></script>

{% endblock %}
{% block footer %}{% endblock %}
